@import url('main.css');

.user-profile-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.user-profile-container h2 {
    margin-bottom: 25px;
    font-size: 24px;
}

.user-details {
    list-style: none;
    width: 100%;
}

.user-details li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.user-details li:last-child {
    border-bottom: none;
}

.user-details li span:first-child {
    font-weight: 600;
    color: #34495e;
    min-width: 120px;
}

.user-details li span:last-child {
    color: #2c3e50;
    text-align: right;
    flex-grow: 1;
    padding-left: 15px;
}